body{
    background-color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
}
.navbar-nav{
    margin: 0 auto;
}
.nav-item{
    margin-right: 20px ;
}
.nav-item:last-child{
    margin-right: 0px;
}
.social-icon:not(:last-child) {
    margin-right: 25px; /* Регулируйте значение, чтобы изменить расстояние между иконками */
}
a {
    text-decoration: none;
}
.container-fluid{
    padding: 0px;
}
h1{
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
}
.accordion-item{
    margin: 15px auto;
}
.accordion-header{
    z-index: 5;
    border: 1px solid rgb(189, 189, 189) ;
}


